@{
    var success = TempData["Message"] as string;
    var error = TempData["Error"] as string;
}
@if (!string.IsNullOrWhiteSpace(success))
{
    <div class="alert alert-success text-center">@success</div>
}
@if (!string.IsNullOrWhiteSpace(error))
{
    <div class="alert alert-danger text-center">@error</div>
}